<form action="" class="sleepSchoolApp__createAccount-form" >
    <input type="email" value="" placeholder="Email address" class="sleepSchoolApp__input sleepSchoolApp__createAccount-form-input">
    <input type="password" value="" placeholder="Password" class="sleepSchoolApp__input sleepSchoolApp__createAccount-form-input">
    <input type="password" value="" placeholder="Confirm Password" class="sleepSchoolApp__input sleepSchoolApp__createAccount-form-input">
    <input type="submit" value="SUBMIT" class="sleepSchoolApp__btn link">
</form>

