$block : ".mainLayout";

#{$block}{
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-image: url("../images/main-background.png");
  @media only screen and (-Webkit-min-device-pixel-ratio: 2){
    background-image: url("../images/main-background@2x.png");
  }
  @media only screen and (-Webkit-min-device-pixel-ratio: 3){
    background-image: url("../images/main-background@3x.png");
  }

  @media (max-width: $sm-width) {
    background-image: url("../images/main-background-mobile.png");

    @media only screen and (-Webkit-min-device-pixel-ratio: 2){
      background-image: url("../images/main-background-mobile@2x.png");
    }
    @media only screen and (-Webkit-min-device-pixel-ratio: 3){
      background-image: url("../images/main-background-mobile@3x.png");
    }
  }
  &__inner{
    max-width: 908px;
    margin: 0 auto;
    padding: 0 60px;
    @media (max-width: $sm-width) {
      padding: 0 20px;
    }
  }
  &__header{
    padding-top: 70px;
    margin-bottom: 35px;
    position: relative;
    @media (max-width: $sm-width) {
      margin-bottom: 30px;
    }
    &-title{
      font-weight: 500;
      font-size: 26px;
      line-height: 24px;
      color: #FFFFFF;
      position: relative;
      &:after{
        content: "";
        width: 32px;
        height: 2px;
        background: #0098C3;
        display: flex;
        margin-top: 10px;
      }
    }
    &-prevLink{
      position: absolute;
      top: 20px;
      left: -15px;
      padding: 5px;
    }
  }
}