$block : ".sleepSchoolApp";

#{$block}{
  &__wrapper{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  &__title{
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
  }
  &__input{
    padding: 23px 15px;
    font-size: 16px;
    line-height: 17px;
    color: #A2A2A2;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    &::-webkit-input-placeholder {
      color: #A2A2A2;
    }
    &::-moz-placeholder {
      color: #A2A2A2;
    }
    &:-ms-input-placeholder {
      color: #A2A2A2;
    }
    &:-moz-placeholder {
      color: #A2A2A2;
    }
  }
  &__btn{
    background: #F5A623;
    border-radius: 8px;
    padding: 21px 0;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
    &:hover{
      cursor: pointer;
    }
  }
  &__footer{
    margin-bottom: 20px;
    &-title{
      font-size: 16px;
      line-height: 17px;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 20px;
    }
    &-link{
      font-size: 16px;
      line-height: 17px;
      color: #FFFFFF;
      display: flex;
      text-align: center;
      justify-content: center;
    }
  }
  &__chooseAnApp{
    &-wrapper{
      margin-top: 80px;
    }
    &-btn{
      margin-bottom: 32px;
      &-wrapper{
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
      }
    }
  }
  &__noAccess{
    &-wrapper{
      margin-top: 80px;
    }
    &-title{
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 150px;
    }
    &-footer{
      font-weight: 500;
      font-size: 16px;
      line-height: 17px;
      text-align: center;
      color: #FFFFFF;
      &-question{
        margin-bottom: 40px;
      }
      &-label{
        margin-bottom: 20px;
      }
    }
  }
  &__redeemCode{
    &-wrapper{
      margin-top: 80px;
    }
    &-form{
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
      &-input{
        margin-bottom: 35px;
      }
    }
  }
  &__createAccount{
    &-wrapper{
      text-align: center;
    }
    &-good{
      font-weight: 300;
      font-size: 20px;
      line-height: 22px;
      color: #FFFFFF;
      margin-bottom: 30px;
    }
    &-subtitle{
      font-weight: 300;
      font-size: 20px;
      line-height: 22px;
      color: #FFFFFF;
      margin-bottom: 20px;
    }
    &-form{
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      &-input{
        margin-bottom: 18px;
      }
      &-footer{
        font-size: 16px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 20px;
      }
      &-link{
        color: #F5A623;
      }
    }
  }
  &__confirmAddress{
    &-wrapper{
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      color: #FFFFFF;
      max-width: 320px;
    }
    &-title{
     margin-bottom: 30px;
    }
    &-subTitle{
      margin-bottom: 40px;
    }
    &-emailIcon{
      margin-bottom: 25px;
    }
  }
}